@import './var';
@import './mixins/hairline';

[class*='yt-hairline'] {
  &::after {
    @include hairline();
  }
}

.yt-hairline {
  &,
  &--top,
  &--left,
  &--right,
  &--bottom,
  &--surround,
  &--top-bottom {
    position: relative;
  }

  &--top::after {
    border-top-width: $border-width;
  }

  &--left::after {
    border-left-width: $border-width;
  }

  &--right::after {
    border-right-width: $border-width;
  }

  &--bottom::after {
    border-bottom-width: $border-width;
  }

  &,
  &-unset {
    &--top-bottom::after {
      border-width: $border-width 0;
    }
  }

  &--surround::after {
    border-width: $border-width;
  }
}
